@media screen and (max-width : 991px) {
    .nav-toggle{
        display:inline-block;
        
    }
    #lang{
        display: none;
    }

    .content-boxes{
        display: flex;
        margin-top: 40px;
        margin-left: 37px;
        height: 90px;
        width: 90%;
        margin: 10px;
        flex-direction: row;
    }
    .nav-orignal-icon{
        display: none;
    }
    .navbar-icon{
        display: block;
        position:absolute;
        left: 20px;
        top: 20px;
                
        
    }

}

@media screen and (max-width : 599px) {
    /* get started one */
    .emailbtn{
        display: block;
        width: 100%;
        /* margin-left: 50px; */
    }
    .getstart{
        padding: 10px;
        position: relative;
        margin-top: 20px;
        width: 100%;
        left: 55px;
        display: block;
        text-align: center;
        
    }



    /* get started section two */
    .emailbtn-rtw{
        display: block;
        width: 90%;
        /* margin-left: 50px; */
    }

    .getstart-rtw{
        display: none;
     }

     .getstart-rtw-two{
        font-size: x-large;
        font-weight: 900px;
        background-color: red;
        color: white;
        padding: 1vw;
        position: relative;
        border-radius: 20px 20px 20px 20px;
        border: 0px;
        margin-top: 20px;
        width: 90%;
        left: 30px;
        display: block;
     }

}