@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');



* {
   padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;


}

body {
   background-color: black;
   width: 90%;
   
}

body::before {
   content: "";
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 50%;
   background-image: url("images/IN-en-20250317-TRIFECTA-perspective_d3bd14de-3c51-4227-9244-f14c89469189_large.jpg");
   background-attachment:fixed;
   background-position: top right;
   background-repeat: no-repeat;
   filter: blur(10px);
   z-index: -10;
}

.main {
   background-image: url("images/bgimg.jpg");
   height: 70vh;
   background-position: center center;
   background-size: max(1200px, 100vw);
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   border-radius: 20px;
   overflow: hidden;
   width: 95vw;
   position: relative;
   right: 6vw;
   /* bottom: 2vw; */
   left: 2vw;

}

.main .box {
   height: 70vh;
   width: 100%;
   opacity: 0.6;
   position: absolute;
   top: 0;
   background-color: black;
   
}

nav {
   max-width: 90vw;
   justify-content: space-between;
   margin: auto;
   display: flex;
   align-items: center;
   height: 10vh;

}

nav img {
   width: 40%;
   position: relative;
   z-index: 1;
   
}
.nav-toggle{
   display: none;
   padding: 5px 20px;
   background-color: rgba(248, 243, 243, 0);
   color: white;
   border: 1px solid white;
   border-radius: 20px;
   cursor: pointer;
   width: 4vw;
}

.navbar-icon{
   display: none;
   width: 50px;
   margin-left: 2vw;
}

.navbtn{
   position: relative;
   z-index:1;
}

.hero {
   font-family: 'Martel Sans', sans-serif;
   color: white;
   position: relative;
   height: calc(100% - 62px);
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
   gap: 39px;
   padding: 10px;
   /* top: 20vh; */
   /* margin-top: 170px; */
}

.hero> :nth-child(1) {
   font-size: 40px;
   font-weight: 700;
   text-align: center;
}

.hero :nth-child(2) {
   font-weight: 400;
   font-size: 18px;
   text-align: center;
}

.hero :nth-child(3) {
   font-weight: 400;
   font-size: 17px;
   text-align: center;
}

.hero-buttons {
   /* display: flex; */
   align-items: center;
   justify-content: center;
   gap: 16px;
}

#lang{
   font-family: 'Poopins', sans-serif;
   padding: 3px 8px;
   font-weight: 600;
   background-color: rgba(248, 243, 243, 0);
   color: grey;
   border: 1px solid white;
   border-radius: 20px;
   cursor: pointer;
}



.getstart{
   font-weight: 900px;
   background-color: red;
   color: white;
   padding: 10px;
   padding-right: 20px;
   position: relative;
   border-radius: 20px 20px 20px 20px;
   border: 0px;
   max-width: 50%;
   
}


.emailbtn{
   color: white;
   font-family: 'Martel Sans', sans-serif;
   font-weight: 900;
   padding: 15px 95px 10px 14px;
   font-size: 12px;
   border-radius: 4px;
   background-color: rgba(23, 23, 23, 0.233);
   border: 1px solid rgba(246, 238, 238, 0.5);
   border-radius: 23px;
   font-weight: bolder;
}
a{
   color: aliceblue;
}
.signin{
   background-color: red;
   color: white;
   padding: 9px;
   font-weight: bold;
   position: relative;
   border-radius: 20px;
   border: 0px;
   font-weight: 600px;

}

.headtrend{
   color:whitesmoke;
   font-weight: 600;
   margin-top: 34px;
   font-size: 35px;
   margin-left: 45px;
   /* border: 2px solid green; */
}


.scroll-container{
    /* border: 0.2px solid red; */
   margin-top: 3px;
   width: 70%;
   position: relative;
   left: 10%;
   display: flex;
   gap: 2px;
  color: rgb(2, 11, 16);
/* overflow-x:auto; */
  margin-left: 30px;
  /* overflow-anchor: none; */
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  
}
.number-container{
    position: absolute;
    left: 20%;
    z-index: 10;
}
.number-container span{
    font-size: 4rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.scroll-item{
    /* border: 2px solid blue; */
   transition: transform .3s;
   flex: 0 0 auto;
   margin-right: 35px;
   margin-top: 17px;
   position: relative;
   /* overflow-anchor:none; */
   
}

.scroll-item:hover{
/* transition: transform .3s; */
/* -ms-transform: scale(1.4); */
/* -webkit-transform: scale(1.4); */
transform: scale(1.1);
}

.scroll-item:last-child{
   margin-right: 20px;
}

.scroll-item > img{
   width: 110px;
   height: auto;
    border-radius: 12px;
    margin-left: 49px;
    
}


/* more details about joing starts here */
.details-container{
   position: relative;
   left: 20px;
}

.title-details{
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    color: whitesmoke;
    /* border: 2px solid green; */
    margin-top: 40px;
    margin-left: 37px;
    font-size:xx-large;
    font-weight: bolder;
}

.content-boxes{
    font-family: 'Martel Sans', sans-serif;
    color: rgba(255, 252, 252, 0.735);
    border: 2px solid rgba(255, 255, 255, 0.04);
    /* margin-top: 40px; */
    margin-left: 37px;
    background-color: rgba(255, 255, 255, 0.128);
    backdrop-filter:blur(12px);
    font-size: 9px;
    border-radius: 7px;
    /* width: 20vw; */
    box-sizing: border-box;
    
}
.content-boxes{
    display:inline-flex;
    padding: 4px;
    /* margin: 10px; */
    flex-wrap: wrap;
    height: 15vh;
    width: 15vw;
    position: relative;
    

}

.detail-align{
    /* border: 2px solid rgb(0, 255, 51); */
    margin-left: 30px;
    
}
#icons{
   margin-left: 96%;
   display: inline-flex;
   font-size: xxx-large;
   position: relative;
   bottom: 20px;
   height: 10px;
   margin-right: 7px;
}

/* frequenty Asked Questions sstarted */


.heading-faq{
   font-family: 'Martel Sans', sans-serif;
   color: white;
   margin-bottom: 20px;
   font-size: x-large;
   position: relative;
   left: 50px;
   margin-top: 50px;
}

.faq-container{
   width: 90%;
   margin: 30px;
   margin-left: 50px;
   /* margin-right: 2000px; */
}

.faq-item{
   /* border: 1px solid #ddd; */
   margin-bottom: 10px;
   overflow: hidden;
}

.faq-question{
   background-color: rgba(255, 255, 255, 0.1);
   color: rgba(255, 252, 252, 0.735);
   border: none;
   border-radius: 7px;
   padding: 28px;
   font-size: large;
   width: 97%;
   text-align: left;
   cursor: pointer;
   font-weight: bold;
   /* margin-left: 30px; */
   backdrop-filter:blur(20px);
   margin-bottom: 7px;
}
#plus-btn{
   margin-left: 100%;
   font-size: x-large;
}

.faq-answer{
   padding: 0 15px;
   /* max-width: 10px; */
   max-height: 0;
   transition: max-height 0.3s ease-out;
   overflow: hidden;
}

.faq-answer p{
   margin-bottom: 10px;
   /* max-height:0;   */
   background-color: rgba(61, 60, 60, 0.265);
   color: rgba(255, 252, 252, 0.735);
   border: 2px solid transparent;
   border-radius: 20px;
   padding: 17px;
   font-size: large;
   width: 89%;
   text-align: left;
   cursor: pointer;
   font-weight: bold;
   margin-left: 10px;
   backdrop-filter:blur(12px);
   overflow: hidden;
}
.faq-item.open .faq-answer{
   max-height: 500px;
}

/* faq ends here */

/* ready to watch */
.readytowatch{
   align-items: center;
}
.title-readytowatch{
   font-family: 'Martel Sans', sans-serif;
   color: white;
   text-align: center;
   font-size: 17px;
}
.container-rtw{
   display:flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}
.container-rtw{
   margin-top: 20px;
}
.emailbtn-rtw{
   color: white;
   font-weight: 900;
   padding: 15px 95px 10px 14px;
   font-size: 17px;
   border-radius: 4px;
   background-color: rgba(23, 23, 23, 0.233);
   border: 1px solid rgba(246, 238, 238, 0.5);
   border-radius: 23px;
   
}
.getstart-rtw{
   font-size: x-large;
   font-weight: 900px;
   background-color: red;
   color: white;
   padding: 1vw;
   padding-right: 20px;
   position: relative;
   border-radius: 20px 20px 20px 20px;
   border: 0px;
   max-width: 50%;
}
.getstart-rtw-two{
   display: none;
}

/* footer starts here */
footer{
   margin-top: 70px;
   /* text-align: center; */
   
}

.headeof-footer{
   color: rgba(255, 255, 255, 0.523);
   padding-left: 150px;
}

.footer-items{
   margin-top: 20px;
   display: flex;
   padding-left: 17%;
   gap: 20px;
}
.items-of-footer{
   color: rgba(255, 255, 255, 0.523);

}

