@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');



* {
   padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;


}

body {
   background-color: black;

}

body::before {
   content: "";
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("images/IN-en-20250317-TRIFECTA-perspective_d3bd14de-3c51-4227-9244-f14c89469189_large.jpg");
   background-attachment:fixed;
   background-position: top left;
   background-repeat: no-repeat;
   filter: blur(20px);
   z-index: -1;
}

.main {
   background-image: url("images/bgimg.jpg");
   height: 70vh;
   background-position: center center;
   background-size: max(1200px, 100vw);
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   border-radius: 40px;
   overflow: hidden;
   width: 95vw;
   position: relative;
   right: 6vw;
   /* bottom: 2vw; */
   left: 2vw;

}

.main .box {
   height: 70vh;
   width: 100%;
   opacity: 0.6;
   position: absolute;
   top: 0;
   background-color: black;
   
}

nav {
   max-width: 90vw;
   justify-content: space-between;
   margin: auto;
   display: flex;
   align-items: center;
   height: 62px;

}

nav img {
   width: 114px;
   position: relative;
   z-index: 10;
}

.navbtn{
   position: relative;
   z-index: 10;
}

.hero {
   font-family: 'Martel Sans', sans-serif;
   color: white;
   position: relative;
   height: calc(100% - 62px);
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
   gap: 18px;
   padding: 10px;
   /* top: 20vh; */
   /* margin-top: 17vh; */
}

.hero> :nth-child(1) {
   font-size: 40px;
   font-weight: 700;
   text-align: center;
}

.hero :nth-child(2) {
   font-weight: 400;
   font-size: 18px;
   text-align: center;
}

.hero :nth-child(3) {
   font-weight: 400;
   font-size: 17px;
   text-align: center;
}

.hero-buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

#lang{
   font-family: 'Poopins', sans-serif;
   padding: 3px 8px;
   font-weight: 600;
   background-color: rgba(248, 243, 243, 0);
   color: grey;
   border: 1px solid white;
   border-radius: 20px;
   cursor: pointer;
}


.getstart{
   font-weight: 900;
   background-color: red;
   color: white;
   padding: 10px;
   padding-right: 20px;
   position: relative;
   border-radius: 20px 20px 20px 20px;
   border: 0px;

}


.emailbtn{
   color: white;
   font-weight: 900;
   padding: 15px 95px 10px 14px;
   font-size: 12px;
   border-radius: 4px;
   background-color: rgba(23, 23, 23, 0.233);
   border: 1px solid rgba(246, 238, 238, 0.5);
   border-radius: 23px;
}

.signin{
   background-color: white;
   color: black;
   padding: 7px;
   font-weight: bold;
   position: relative;
   border-radius: 20px;
   border: 0px;
   font-weight: 600px;

}

.headtrend{
   color:whitesmoke;
   font-weight: 600;
   margin-top: 34px;
   font-size: 35px;
   margin-left: 45px;
   /* border: 2px solid green; */
}


.scroll-container{
    /* border: 0.2px solid red; */
   margin-top: 3px;
   display: flex;
   gap: 2px;
color: rgb(2, 11, 16);
/* overflow-x:auto; */
  margin-left: 30px;
  /* overflow-anchor: none; */
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  
}
.number-container{
    position: absolute;
    left: 20%;
    z-index: 10;
}
.number-container span{
    font-size: 4rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.scroll-item{
    /* border: 2px solid blue; */
   transition: transform .3s;
   flex: 0 0 auto;
   margin-right: 35px;
   margin-top: 17px;
   position: relative;
   /* overflow-anchor:none; */
   
}

.scroll-item:hover{
/* transition: transform .3s; */
/* -ms-transform: scale(1.4); */
/* -webkit-transform: scale(1.4); */
transform: scale(1.1);
}

.scroll-item:last-child{
   margin-right: 20px;
}

.scroll-item > img{
   width: 110px;
   height: auto;
    border-radius: 12px;
    margin-left: 49px;
    
}

/* more details about joing starts here */

.details-container{
    /* border: 2px solid red; */
}

.title-details{
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    color: whitesmoke;
    /* border: 2px solid green; */
    margin-top: 40px;
    margin-left: 37px;
    font-size:xx-large;
    font-weight: bolder;
}

.content-boxes{
    font-family: 'Martel Sans', sans-serif;
    color: rgba(255, 252, 252, 0.735);
    border: 2px solid rgba(255, 255, 255, 0.04);
    margin-top: 40px;
    margin-left: 37px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter:blur(12px);
    font-size: 9px;
    border-radius: 7px;
    /* width: 20vw; */
    /* box-sizing: border-box; */
}
.content-boxes{
    display:flex;

    /* justify-content: space-around; */
    padding: 40px;
    margin: 10px;
    /* flex: 1 1 300px; */
    /* max-width: 400px; */
    flex-direction: row;

}
@media (max-width: 800px){
    .content-boxes{
        flex-direction: column;
    }
}

.detail-align{
    /* border: 2px solid rgb(0, 255, 51); */
    margin-left: 30px;
    
}
